<%- include("header") -%>
    <div class="box" id="heading">
      <h1><%=listTitle%></h1>
    </div>

    <div class="box">
        <% for (var i=0; i<listItems.length ; i++) { %>
          <div class="item">
            <input type="checkbox">
            <p><%= listItems[i] %></p>
          </div>
          <% } %>
          <form class="item" action="/" method="post">
            <input type="text" name="task" id="task" placeholder="New Item" autocomplete="off" />
            <button type="submit" name="list" value=<%=listTitle%>>+</button>
          </form>
    </div>
    <!-- <div class="copyright">
      <p class="mt-5 mb-3 text-muted">&copy; Anubha Dubey</p>
    </div> -->
<%- include("footer") -%>